body {
    max-height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}

.dash::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 5px;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transition: all .5s;
  }

.groups {
    text-align: center;
    padding: 4rem 0;
}

.groups img {
    width: 300px;
    height: auto;
}

.groups__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

main {
    margin-bottom: 20px;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: rgba(31, 25, 25, 0.333);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.result-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #57852c;
    color: white;
    cursor: pointer;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #57852c;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header #result-dropdown {
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.553);
    padding: 0 .8rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

#result-dropdown option {
    font-size: 1rem;
    background-color: #d5d1defe;
}

.table__header .input-group {
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.553);
    padding: 0 .8rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.input-group i {
    color: rgb(19, 19, 111);
}

.table__header .input-group:hover {
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group i {
    font-size: 24px;
    transform: scaleX(-1);
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#program-table {
    width: 100%;
}

#program-table,
#program-table th,
#program-table td {
    border-collapse: separate;
    padding: 1rem;
    text-align: center;
}

#program-table thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

#program-table tbody tr:nth-child(even) {
    background-color: #0000000b;
}

#program-table tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

#program-table tbody tr:hover {
    background-color: #fff6 !important;
}

#program-table tbody tr td {
    transition: .2s ease-in-out;
}

@media (max-width: 1000px) {
    #program-table td:not(:first-of-type) {
        min-width: 4.1rem;
    }

    main.table {
        width: 95vw;
    }
}

#program-table thead th:hover {
    color: #6c00bd;
}

#program-table thead th.active,
#program-table tbody td.active {
    color: #6c00bd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-program-name {
    color: black;
}

#result-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  #result-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  #result-table th,
  #result-table td {
    padding: .625em;
    text-align: center;
  }

  #result-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    #result-table {
      border: 0;
    }

    #result-table caption {
      font-size: 1.3em;
    }

    #result-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    #result-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    #result-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    #result-table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    #result-table td:last-child {
      border-bottom: 0;
    }
  }

  @media (min-width: 1600px) {
    main.table {
        height: auto; /* Allow the table to take its full height */
    }

    .table__body {
        max-height: none; /* Disable the height limit */
        overflow: visible; /* Show all data without scrolling */
    }

    body {
        max-height: unset;
    }
}